#root {
width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(177, 62, 62);
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
  align-items: center;
  background-color: rgb(150, 132, 204);
  height: auto;
}

.navHeading {
  font-size: 2.5em;
  color: white;
}

.navLinks {
  display: flex;
  gap: 2em;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.main {
  padding: 0.35em;
}

.screen {
  display: flex;
  font-size: 2em;
  justify-content: flex-end;
  background-color: whitesmoke;
  padding: 0 1em;
  color: black;
  height: 2em;
  position: relative;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: white;
}

.lines {
  display: flex;
  justify-content: space-between;
}

.grey {
  width: 100px;
  height: 70px;
  background-color: #e0e0e0;
  font-size: 20px;
}

.orangBtn {
  background-color: orange;
  font-size: 1.5em;
}

.zero {
  width: 200px;
}

.page1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: justify;
}

.calcPg {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  margin-top: 4rem;
}

.calTxt {
  font-size: 3em;
  margin: 3em 2em;
}

.txt {
  text-align: justify;
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
}
